@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair:wght@300&display=swap');

body{
    /* background-color: #90e0ef; */
    background: linear-gradient(120deg,#caf0f8, #48cae4, #023e8a);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2,h4{
    margin: 0;
}
.container{
    width: 500px;
}

.heading{
    font-size: 30px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Garamond', serif;
}

input{
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px 5px 5px 15px;
    font-family: inherit;
    font-weight: 800;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    
}

input:focus{
    outline: none;
}

button{
    height: 40px;
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-weight: 800;
    color: white;
    background-color: #1a3e8b;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

button:hover{
    background-color: #abbce1;
    transform:  translateY(-5px);
    transition: 0.6s ease-in-out;
}

.weather-input{
    display: flex;
    justify-content: center;
}

.place{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
}

.weather-body{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    display: flex;
    border: 1px solid black;
    height: 100px;
    width: 150px;
    font-size: 12px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    border: none;
     box-shadow: 0px 4px 10px ;
    background-color:white;
    margin-top: 25px;

}
.card h4, h2{
    margin: 0;
}
.location{
    margin-top: 20px;
}
